/* header section */
body{
    background-color: white;
}
.header{
    box-sizing: border-box;
    display: flex;
    flex:1;
    justify-content: space-between;
    padding: 60px;
    padding-top: 4px;
    background-color: rgb(12, 12, 70);
}
.logo{
    color: white;
}
.links{
    display: flex;
    flex-direction: row;
    gap: 8px;
   
}
a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    background-color: transparent;
}


/* Description Section */

.description{
    display:flex;
    flex: 1;
    padding: 60px;
    color:white;
    padding-top: 4px;
    background-color: rgb(12, 12, 70);

}

/* Random section */
h2{
    text-align: center;
}
.boxes{
    display: flex;
    flex:1;
    padding: 80px;
    padding-top: 4px;
    padding-bottom: 40px;
    gap: 16px;
    justify-content: center;
}
.box{
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(97, 97, 236);
    border-radius: 10%;
    justify-self: center;
}
.boxes p{
     box-sizing: border-box;
     width: 100px;
     text-align:center;
     font-size: 12px;
}

/* Inspiring Quote Section */
.inspiring{
    background-color: rgb(231, 231, 231);
    padding: 180px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.quote{
    font-style: italic;
    font-size: 20px;
    color: rgb(88, 87, 87);
}

.author{
    text-align:end;
    font-weight: 800;
}